hypersynergism.js linguist-generated
build/** linguist-generated
release/** linguist-generated
other_scripts/** linguist-generated
save_utils/** linguist-generated
snippets/** linguist-generated
* text=auto
* text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
