.hs-panel-body::-webkit-scrollbar,
#hs-ui-log::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.hs-panel-body::-webkit-scrollbar-track,
#hs-ui-log::-webkit-scrollbar-track {
    background: #1c1b22;
    border-radius: 3px;
}

.hs-panel-body::-webkit-scrollbar-thumb,
#hs-ui-log::-webkit-scrollbar-thumb {
    background: #a22a2a;
    border-radius: 3px;
}

.hs-panel-body::-webkit-scrollbar-corner,
#hs-ui-log::-webkit-scrollbar-corner {
    background: #1c1b22;
}

@supports not selector(::-webkit-scrollbar) {
    .hs-panel-body::-webkit-scrollbar,
    #hs-ui-log::-webkit-scrollbar {
        scrollbar-color: #a22a2a #1c1b22;
    }
}


#hs-panel,
.hs-panel-header,
.hs-panel-header-left,
.hs-panel-header-right,
.hs-panel-tabs,
.hs-panel-tab,
.hs-panel-body {
    box-sizing: border-box;
}

.hs-panel-closed {
    display: none;
}

#hs-panel {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 7000;
    
    background-color: #1c1b22;
    border: 1px solid white;
    border-radius: 3px;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

    opacity: 0.92;
}

.hs-panel-header {
    width: 100%;
    height: 45px;
    line-height: calc(45px - (5px * 2));
    font-size: 14pt;
    color: white;
    background-color: #353439;
    display: flex;
}

.hs-panel-header-left {
    padding: 5px 10px 5px 10px;
    flex-grow: 1;
}

.hs-panel-header-right {
    width: 36px;
    height: 36px;
    margin: 4px;
    border: 1px solid white;
    flex-grow: 0;
    line-height: 35px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.hs-panel-header-right:hover {
    background-color: maroon;
    cursor: pointer;
}

.hs-panel-tabs {
    width: 100%;
    height: 40px;
    padding: 0px 0px 0px 0px;
    color: white;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.hs-panel-tab {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    line-height: 40px;
    margin: 0px 2px 0px 2px;
    border-radius: 0px;
    font-size: 13pt;
}

.hs-panel-tab:hover {
    background-color: #006;
    cursor: pointer;
}

#hs-panel-tab-1 {
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}

#hs-panel-tab-1.hs-tab-selected {
    background-color: orange;
}

#hs-panel-tab-2 {
    border-top: 1px solid cyan;
    border-left: 1px solid cyan;
    border-right: 1px solid cyan;
}

#hs-panel-tab-2.hs-tab-selected {
    background-color: blue;
}

#hs-panel-tab-3 {
    border-top: 1px solid maroon;
    border-left: 1px solid maroon;
    border-right: 1px solid maroon;
}

#hs-panel-tab-3.hs-tab-selected {
    background-color: maroon;
}

#hs-panel-tab-4 {
    border-top: 1px solid plum;
    border-left: 1px solid plum;
    border-right: 1px solid plum;
}

#hs-panel-tab-4.hs-tab-selected {
    background-color: plum;
}

.hs-panel-body {
    width: 100%;
    height: calc(100% - 45px - 40px);
    background-color: #18171c;
    border-top: 1px solid white;
    display: none;
    padding: 5px;
    overflow-y: auto;
}

.hs-panel-body-open-flex {
    display: flex;
}

.hs-panel-body-open-block {
    display: block;
}

#hs-log-panel {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;

    padding: 0;
    overflow: hidden;
}

#hs-ui-log {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    
    background-color: #18171c;
    color: white;

    overflow-x: auto;
    overflow-y: scroll;

    flex-grow: 1;

    padding: 5px;
}

.hs-ui-log-line {
    font-family: consolas, courier-new;
    font-size: 9pt;
    white-space: nowrap;
}

.hs-ui-log-line-info {
    color: aqua;
}

.hs-ui-log-line-warn {
    color: yellow;
}

.hs-ui-log-line-error {
    color: red;
}

.hs-log-ts-hidden {
    display: none;
}

.hs-log-ctx {

}

.hs-log-ts {

}

#hs-ui-log-controls {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
}

#hs-panel-control {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-image: url(https://synergism.cc/Pictures/Default/OcteractCorruptions.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: 50% 50%;
}

#hs-panel-control:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.hs-panel-btn {
    border: 2px solid white;
    min-height: 30px;
    color: white;
    transition: background-color 0.15s, border-color 0.15s;
    cursor: pointer;
    background-color: #101828;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.hs-panel-btn:hover {
    background-color: #005;
}

.hs-modal {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 7000;

    top: -9001px;
    left: -9001px;
    
    background-color: #1c1b22;
    border: 1px solid white;
    border-radius: 3px;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

    opacity: 0.97;
}

.hs-modal-head {
    width: 100%;
    height: 45px;
    line-height: calc(45px - (5px * 2));
    font-size: 14pt;
    color: white;
    background-color: #353439;
    display: flex;
}

.hs-modal-head-left {
    padding: 5px 10px 5px 10px;
    flex-grow: 1;
}

.hs-modal-head-right {
    width: 36px;
    height: 36px;
    margin: 4px;
    border: 1px solid white;
    flex-grow: 0;
    line-height: 35px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.hs-modal-head-right:hover {
    background-color: maroon;
    cursor: pointer;
}

.hs-modal-body {
    width: 100%;
    height: calc(100% - 45px);
    max-height: 60vh;
    max-width: 60vw;
    background-color: #18171c;
    border-top: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.hs-modal-img {
    image-rendering: auto;
    width: 100%;
    max-width: 40vw;
}

#hs-settings-panel {
    padding: 10px;
}

.hs-panel-setting-block {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 2fr auto;
    /*grid-template-rows: auto auto;*/
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
    padding-bottom: 10px;
    /*border-bottom: 1px solid white;*/
    box-sizing: border-box;
    padding-left: 10px;
}

#hs-settings-panel > .hs-panel-setting-block:not(:last-child) {
    /*padding-bottom: 10px;
    margin-bottom: 10px;*/
}

.hs-panel-setting-block-text {
    grid-column: 1 / span 2;
    box-sizing: border-box;
}

.hs-panel-setting-block-text:hover {
    cursor: help;
}

.hs-panel-setting-block-num-input {
    display: block;
    height: 30px;
    border: 1px solid green;	
    grid-column: 1 / 2;
    box-sizing: border-box;
}

.hs-panel-setting-block-btn {
    width: 30px;
    border: 1px solid green;
    display: block;
    grid-column: 2 / 3;
    height: 30px;
    box-sizing: border-box;
}

.hs-panel-settings-block-btn-standalone {
    grid-column: 1 / 1;
}

.hs-disabled {
    border: 1px solid red;
}

.hs-ambrosia-slot {
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}